.daybox {
    box-sizing: border-box;
    height: 120px;
    border: 1px solid grey;
}

.dayheader {
    background-color: black;
    color: white;
}

.daybox.weekend {
    border-color: lightgrey;
    color: grey;
}

.daybox.today {
    background-color: #ddf;
    border-width: 2px;
    font-weight: bold;
}

.daybox.past {
    background-color: #eee;
}

.prefbox .thisweek {
    font-weight: bold;
}


.item.release {
    background-color: #9999ff
}

.strike {
    text-decoration: line-through;
}

.item.pto {
    background-color: #ffff99
}

.item.begin_sprint {
    background-color: #99ff99
}